.header {
    height: auto !important;
    padding: 0; }
  .main-container {
    display: none; }
  .menu-container {
    flex-direction: column !important;
    justify-content: space-between !important;
    text-align: center !important;
    padding-top: 0 !important;
   background-color: #000;
  }
  .menu-container h1{
    font-size: 2rem !important;
  }
  .menu-container .btn-light{
    display: none !important;
  }
  .content-btn{
    display: grid !important;
  }
    .menu-container ul {
     display: flex !important;
    
     transition: all 0.5s ease;
     flex-direction: column !important;
      margin-top: 1rem !important; }
    
      .menu-container ul li {
        padding: 0 !important; }
        .menu-container ul li a {
        
          display: block !important;
          padding: 0.50rem !important;
          white-space: nowrap !important;
          font-size: 1.2rem !important;
          font-weight: 700 !important;
          text-align: center !important; }
  .content-box {
    grid-template-columns: 1fr !important;
    gap: 0 !important; }
    .content-box h1 {
      font-size: 2rem !important;
      margin-bottom: 1rem;
      text-align: center; }
    .content-box p {
      font-size: 1.1rem !important;
      text-align: center; }
    .content-box .btn-light {
      width: 100px; }
    .content-box .content-btn {
      gap: 0;
      margin: 0;
      grid-template-columns: 3fr 3fr !important; }
      .content-box .content-btn #menu-btn {
        justify-self: end; }
  .btn-box {
    justify-self: center !important;
    padding: 0;
    margin-bottom: 5rem;
    align-self: flex-start; }
  .about-container {
    grid-template-columns: 1fr !important; }
    .about-container h3 {
      font-size: 1.3rem; }
  .why-us {
    grid-template-columns: 1fr !important; }
  .foods {
    grid-template-columns: 1fr !important; }
  .tabs-container li {
    padding: 1rem; }
  .special-container {
    grid-template-columns: 1fr !important; }
    .special-container .tab-content {
      flex-direction: column !important; }
  .reserve form {
    grid-template-columns: 1fr !important; }
    .reserve form textarea {
      grid-column: 1; }
  .gallery-container {
    grid-template-columns: 1fr !important; }
  .chef-container {
    grid-template-columns: 1fr !important; }
  .contact-container {
    grid-template-columns: 1fr !important; }
    .contact-container form {
      grid-template-columns: 1fr !important; }
      .contact-container form input:nth-child(3) {
        grid-column: 1 !important; }
      .contact-container form textarea {
        grid-column: 1 !important; }
    .contact-container .btn-form {
      grid-column: 1 !important; }
  .foot-container {
    grid-template-columns: 1fr !important; } 
 
  .title-1 h1,.food-menu h1,.title-3 h1,.title-4 h1,.title-5 h1,.title-6 h1,.title-7 h1{
    font-size:1.2rem !important;
    color: #cda45e !important;
  }
  .tabs-container li{
    padding:0 !important;
  }
  .tabs-container li a{
    padding: 0.50rem !important;
    font-size: 1rem !important;
  }
  .newsletter-btn{
    padding: 0.7rem !important;
  }
  .chef .img-container:hover .chefs-info{
    bottom: -30% !important;
  }