@mixin transition($property, $duration) {
    --webkit-transition:$property $duration;
    --ms-transition:$property $duration;
    --o-transition:$property $duration;
    transition:$property $duration;
}